<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
        padding: 80px;
      }
      div.container{
          padding: 0 10px 10px 10px;
      }
      h3{
        color: blue;
        margin-bottom: 5px;
      }
      p, ul{
        margin-top: 0px;
      }
      span{
        padding: 10px;
      }
      table{
        width: 100%;
      }
      table tr td{
        border: solid 1px #000;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div style="text-align: center; text-transform: uppercase;">
        <h2> Alur Pengisian Sistem Informasi UKT <br/> UNIVERSITAS NEGERI JAKARTA </h2>
    </div>
    <div class="container">
      <span>
        <h3>Tahap Pertama</h3>
        Calon mahasiswa ditawarkan untuk masuk ke dalam UKT kelompok VI, VII atau VIII.
      </span>
      <br/>
      <span>
        <h3>UKT Kelompok VI, VII atau VIII </h3>
        <ul>
          <li>Jika calon mahasiswa <b>BERSEDIA</b> dengan UKT kelompok VI, VII atau VIII, maka calon
          mahasiswa hanya akan mengisi data pribadi dan data orang tua, serta mengunggah <b>surat
          pernyataan UKT Kelompok Atas</b> yang bisa diunduh pada tahap tersebut.</li>
          <li>Berkas-berkas yang diunggah adalah <b>pas foto calon mahasiswa</b> dan <b>surat pernyataan UKT
          Kelompok Atas</b>.</li>
          <li>Tahap penentuan UKT selesai untuk UKT Kelompok Atas dan calon mahasiswa dapat
          melakukan pembayaran saat jadwal pembayaran dimulai.</li>
        </ul>
      </span>
      <span>
        <h3>Memilih Tahap Penentuan UKT</h3>
        <p>Calon mahasiswa dapat menolak tawaran UKT Kelompok Atas dengan memilih TIDAK BERSEDIA pada
        tahap awal dan mengikuti proses penentuan UKT. Pada proses penentuan UKT ini, calon mahasiswa
        diharuskan untuk mengunggah berkas-berkas dan form-form yang diperlukan.
        <p>Oleh karena itu, calon mahasiswa dihimbau untuk menyiapkan berkas-berkas tersebut sebelum
        melakukan pengisian Sistem Informasi UKT.
        <p>Terdapat 2 jenis berkas yang diperlukan, yaitu <b>berkas yang disiapkan oleh calon mahasiswa</b>
        dan <b>surat/form yang diunduh, dicetak, dan diisi oleh calon mahasiswa</b> yang kemudian semuanya
        diunggah ke Sistem Informasi UKT.
      </span>
      <span>
        <h3>Berkas-Berkas </h3>
        Berkas-berkas yang perlu disiapkan oleh calon mahasiswa diantaranya adalah:
        <ul>
          <li>Pas foto calon mahasiswa</li>
          <li>Scan KTP Ayah dan KTP Ibu (jika Ayah dan/atau Ibu masih hidup)</li>
          <li>Scan slip saji Ayah dan slip gaji Ibu (jika Ayah dan/atau Ibu bekerja)</li>
          <li>Scan keterangan penghasilan Ayah dan Ibu dari RT/RW (jika Ayah dan/atau Ibu adalah wiraswasta)</li>
          <li>Scan Kartu Keluarga (KK)</li>
          <li>Scan tagihan PBB terbaru (jika rumah milik sendiri atau milik bersama keluarga lain)</li>
          <li>
            Scan tagihan Listrik 3 bulan terakhir.<br/>
            Tagihan listrik <b>Prabayar</b> dapat diperoleh online pada laman PLN disini atau PLN terdekat.<br/>
            Tagihan listrik <b>Token</b> dapat diperoleh online pada laman PLN disini atau PLN terdekat
          </li>
          <li>Scan STNK Motor dan mobil (jika memiliki motor dan/atau mobil)</li>
        </ul>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        Surat yang perlu diunduh, dicetak, diisi, dan discan oleh calon mahasiswa diantaranya adalah:
        <table>
          <tr>
            <td>Surat pernyataan komitmen pembiayaan wali (jika mempunyai Wali)</td>
          </tr>
          <tr>
            <td>Surat perjanjian kontrak (jika rumah mengontrak)</td>
          </tr>
          <tr>
            <td>Surat pernyataan kebenaran data dengan tanda tangan 2 Tetangga serta RT dan RW</td>
          </tr>
        </table>
        Daftar berkas diatas kemudian diunggah dengan <b>ukuran file tidak lebih dari 200KB</b> (Harap masih bisa dibaca).
      </span>
      <span>
        <h3>Memilih kesanggupan UKT</h3>
        <p>Setelah selesai mengisi data dan mengunggah berkas, calon mahasiswa diminta untuk memilih
        kesanggupan kelompok UKT berdasarkan data-data yang diisi.
        <p style="color: red">Jika Kelompok UKT yang calon mahasiswa pilih dibawah tingkat kemampuan bayar menurut data
        yang sudah diisi, maka pihak UNJ yang akan memutuskan Kelompok UKT anda.
      </span>
      <span>
        <h3>Selesai</h3>
        Setelah memilih kesanggupan kelompok UKT, calon mahasiswa diminta menunggu hingga tanggal
        pengumuman hasil UKT.
      </span>
      <span>
        <h3>Terima dan Sanggah</h3>
        Pada saat pengumuman hasil UKT, calon mahasiswa dapat <b>Menerima</b> atau <b>Menyanggah</b> hasil UKT
        <ul>
          <li>Jika calon mahasiswa menerima hasil UKT, maka proses penentuan UKT selesai dan calon
          mahasiswa dapat melakukan pembayaran saat jadwal pembayaran dimulai.</li>
          <li>Jika calon mahasiswa menolak/menyanggah hasil UKT, maka calon mahasiswa dan orang tua
          diharuskan menghadiri wawancara di UNJ pada tempat yang akan ditentukan kemudian
          dengan membawa berkas-berkas yang sebelumnya dianggap keliru dan ingin diperbaiki,
          misalnya gaji orang tua (dilengkapi dengan soft-copy slip gaji) atau tagihan listrik (dilengkapi
          dengan soft-copy bukti tagihan listrik)</li>
          <li>Sanggah digunakan untuk mengklarifikasi dokumen yang salah diunggah. Apabila tidak ada
          kesalahan pengunggahan dokumen maka Anda tidak diperkenankan untuk melakukan
          penyanggahan</li>
        </ul>
        Berikut adalah jadwal verifikasi untuk proses sanggah<br/>
        UKT<br/>
        <b>Tempat</b><br/>
        <b>Sekretariat Penerimaan Mahasiswa Baru UNJ</b><br/>
        <b>Gd. Dewi Sartika lt.1, Kampus A UNJ</b><br/>
        <b>Jl. Rawamangun Muka, Jakarta Timur</b><br/>
        <table border=1>
          <thead>
            <tr>
              <td>Hari</td>
              <td>Tanggal</td>
              <td>Waktu</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Hari</td>
              <td>Tanggal</td>
              <td>Waktu</td>
            </tr>
          </tbody>
        </table>
        <ul>
          <li>Setelah melakukan verifikasi UKT dan memperbaiki data, calon mahasiswa akan mendapat
          hasil UKT baru yang tidak bisa disanggah kembali, dan diharuskan menerima keputusan UKT.
          </li>
          <li>Proses selesai, calon mahasiswa dapat melakukan pembayaran saat jadwal pembayaran
          dimulai.</li>
        </ul>
      </span>
    </div>
  </body>
</html>
