<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Surat Perjanjian Kontrak</title>
        <style>
            body{
                font-size: 10pt;
            }
            .page-break {
                page-break-after: always;
            }
            .frame{
                margin: 50px 30px;
            }
            .text-center{
                text-align: center;
            }
            table tr td{
                padding: 7px;
            }
            .list-line {
                line-height: 1.75em;
            }
            .list-line li{
                margin-top: -13px;
                text-align: justify;
            }
            p{
                line-height: 1,75em;
                text-align: justify;
            }
            table{
                margin: 0 0 0px 30px;
            }
            table tr td p {
                margin:0;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div style="margin-left: -0px;">
                <h3 class="text-center">SURAT PERJANJIAN KONTRAK RUMAH TINGGAL</h3>
            </div>
            <br/>
            <div class="content">
                <p>Kami yang bertanda tangan di bawah ini:</p>
                <table class="table">
                    <tr>
                        <td>1.</td>
                        <td>Nama</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>No. KTP (NIK)</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Alamat</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>No. Telepon / HP</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                </table>
                <p>Dalam hal ini, bertindak untuk dan atas namanya sendiri. Selanjutnya dalam perjanjian ini disebut sebagai PIHAK PERTAMA.</p>
                <table class="table">
                    <tr>
                        <td>2.</td>
                        <td>Nama</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>No. KTP (NIK)</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Alamat</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>No. Telepon / HP</td>
                        <td>:</td>
                        <td></td>
                    </tr>
                </table>
                <p>Dalam hal ini, bertindak untuk dan atas namanya sendiri. Selanjutnya dalam perjanjian ini disebut sebagai PIHAK KEDUA.</p>
                <p>Dalam hal ini, PIHAK PERTAMA menyewakan/mengontrakkan rumah tinggal kepada PIHAK
                KEDUA dengan spesifikasi yaitu sebuah bangunan seluas ..............m2
                , yang beralamat di: ..............................................................................................................................................................................
                Sewa tersebut terhitung mulai tanggal .................................... sampai dengan tanggal
                ................................ dengan harga sewa Rp.................................... setiap bulan/tahun*)
                . </p>
            </div>
        </div>
        <div class="page-break"></div>
        <div class="frame">
            <div class="content">
                <p>Demikian surat perjanjian kontrak rumah tinggal ini dibuat atas persetujuan kedua pihak, yaitu
                PIHAK PERTAMA dan PIHAK KEDUA, secara musyawarah dan mufakat serta dalam
                keadaan sehat jasmani dan rohani.</p>

                <table class="table" width="100%">
                    <tr>
                        <td class="text-center">
                            ............... , ...............................<br/>
                            <p class="text-center">Yang membuat pernyataan,</p>
                        </td>
                </table>

                <table class="table" width="100%">
                    <tr>
                        <td class="text-center">
                            <p class="text-center">PIHAK PERTAMA,</p>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <p class="text-center">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</p>
                            <p style="padding-left: 40px">NIK.</p>
                        </td>
                        <td class="text-center">
                            <p class="text-center">PIHAK KEDUA,</p>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <p class="text-center">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</p>
                            <p style="padding-left: 40px">NIK.</p>
                        </td>
                </table>
                <br/>
                <br/>
                Saksi-saksi :
                <ol style="line-height: 1.5em">
                    <li style="padding: -2px 0 5px 0">Ketua RT : (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</li>
                    <li style="padding: -2px 0 5px 0">Tetangga : (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</li>
                </ol>
                <span style="font-size: 13px"><i>*)coret yang tidak perlu</i></span>
            </div>
        </div>
    </body>
</html>
