<!DOCTYPE HTML>
<html>
    <head>
        <title>Rekapitulasi Sistem Informasi Uang Kuliah Tunggal </title>
        <style>
            table tr th{
                text-align: center;
                text-transform: uppercase
            }
            table tr td, table tr th{
                border: solid 1px #000;
                padding: 5px;
            }
            h3, h4{
                text-transform: uppercase;
                text-align: center
            }
            .text-center{
                text-align: center
            }
        </style>
    </head>
    <body>
        <h3>Rekapitulasi Sistem Informasi Uang Kuliah Tunggal <br/>Universitas Negeri Jakarta<br/></h3>
        <h4>Sanggah UKT</h4>
        <br/>
        <table width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Nomor Pendaftaran</th>
                    <th>Nama Lengkap</th>
                    <th>Fakultas</th>
                    <th>Program Studi</th>
                    <th>Besar UKT</th>
                    <th>NIM</th>
                </tr>
            </thead>
            <tbody>
                {{ range $index, $row := .rows }}
                <tr>
                    <td class="text-center">{{ add $index 1 }}</td>
                    <td class="text-center">{{ $row.NoPeserta }}</td>
                    <td>{{ $row.NamaCmahasiswa }}</td>
                    <td>{{ if $row.Fakultas }}{{ $row.Fakultas.Nama }}{{ else }}-{{ end }}</td>
                    <td>{{ if $row.Prodi }}{{ $row.Prodi.Nama }}{{ else }}-{{ end }}</td>
                    <td class="text-center">
                        {{ if $row.GolonganID }}
                            {{ $row.GolonganID }}
                        {{ else }}
                            -
                        {{ end }}
                    </td>
                    <td class="text-center">{{ $row.NoRegistrasi }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </body>
</html>
