<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <title>Surat Pernyataan Wali</title>
        <style>
            .page-break {
                page-break-after: always;
            }
            .frame{
                margin-left: 70px;
                margin-top: 30px;
                margin-right: 70px;
            }
            .text-center{
                text-align: center;
            }
            table tr td{
                padding: 7px;
            }
            .list-line {
                line-height: 2.5em;
            }
            .list-line li{
                margin-top: -13px;
                text-align: justify;
            }
            p{
                line-height: 2.5em;
                text-align: justify;
            }
            table{
                margin: 0 0 20px 30px;
            }
            table tr td p {
                margin:0;
            }
        </style>
    </head>
    <body>
        <div class="frame">
            <div style="margin-left: -0px;">
                <h3 class="text-center">SURAT PERNYATAAN WALI CALON MAHASISWA</h3>
                <h3 class="text-center">UNIVERSITAS NEGERI JAKARTA</h3>
            </div>
            <br/>
            <p>Yang bertanda tangan di bawah ini:</p>
            <table class="table">
                <tr>
                    <td>Nama / Institusi</td>
                    <td>:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>No. KTP (NIK)</td>
                    <td>:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pekerjaan</td>
                    <td>:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Alamat</td>
                    <td>:</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>No. Telepon / HP</td>
                    <td>:</td>
                    <td></td>
                </tr>
            </table>
            <br/>
            <p>adalah wali dari:</p>
            <table class="table">
                <tr>
                    <td>Nama Calon Mahasiswa</td>
                    <td>:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Nomor Pendaftaran</td>
                    <td>:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pilihan Program Studi</td>
                    <td>:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Hubungan Keluarga dengan Wali</td>
                    <td>:</td>
                    <td></td>
                </tr>
            </table>
            <br/>
            Dengan ini menyatakan bahwa:
            <ol class="list-line">
                <li>
                    Bersedia menjadi Wali untuk calon mahasiswa tersebut diatas selama
                    pendidikannya di Universitas Negeri Jakarta dan bertanggung jawab penuh
                    terhadap pendidikan calon mahasiswa tersebut selama di Universitas Negeri
                    Jakarta.
                </li>
            </ol>
            <div class="page-break"></div>
            <div style="margin-top: 30px">&nbsp;</div>
            <ol class="list-line" start='2'>
                <li>
                    Untuk selanjutnya, Bersedia untuk membiayai pendidikannya hingga tamat di
                    Universitas Negeri Jakarta dan setiap bulannya dapat membiayai calon
                    mahasiswa tersebut sebesar Rp. ..................... 
                </li>
            </ol>
            <br/>
            <p>Demikian surat pernyataan ini Saya buat dengan sebenarnya atas kesadaran dan penuh rasa tanggung jawab serta tida ada paksaan dari pihak manapun.</p>
            <table class="table">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        ................ , ............................. {{ date('Y') }}<br/>
                        <p class="text-center">Yang Membuat Pernyataan,</p>
                        <p class="text-center">Wali,</p>
                        <br/>
                        <br/>
                        <p class="text-center">Materai 6000</p>
                        <br/>
                        <p class="text-center">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;NIK.</p>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
